nav {
	position: absolute;
	padding-top:0.5%;
	margin-left: 0.5%;
}

.wifeo_pagemenu > a
{color:#F1C84B;text-decoration:none} 
.wifeo_pagemenu:hover > a
{color:#F1C84B;text-decoration:none;font-weight:bold}
.wifeo_rubrique > a
{color:#F1C84B;text-decoration:none} 
.wifeo_rubrique:hover > 
a{color:#F1C84B;font-weight:bold;text-decoration:none} 
.wifeo_pagesousmenu > 
a{color:#F1C84B;text-decoration:none} 
.wifeo_conteneur_menu{border-spacing:0px} 
.wifeo_conteneur_menu{height:auto;width:160px;overflow:hidden} 
.wifeo_pagemenu, .wifeo_rubrique{background-color:#1E2D4C;width:160px;border-left:3px solid #525252} 
.wifeo_pagemenu:hover, .wifeo_rubrique:hover{background-color:#525252} 
.wifeo_conteneur_menu a{text-decoration:none;display:table-cell;vertical-align:middle;height:40px;-webkit-transition:all 0.50s ease;-moz-transition:all 0.50s ease;-ms-transition:all 0.50s ease;-o-transition:all 0.50s ease;transition:all 0.50s ease} 
.wifeo_pagesousmenu{width:100%;display:table} 
.wifeo_sousmenu{max-height:0;width:100%;opacity:0;visibility:hidden} 
@media screen and (min-device-width:1024px)
{.wifeo_sousmenu{-webkit-transition:all 0.50s ease;-moz-transition:all 0.50s ease;-ms-transition:all 0.50s ease;-o-transition:all 0.50s ease;transition:all 0.50s ease}} 
.wifeo_sousmenu a{text-align:right;height:40px;padding:0 5px;background-color:#1E2D4C;font-size:11px;-webkit-transition:all 0.50s ease;-moz-transition:all 0.50s ease;-ms-transition:all 0.50s ease;-o-transition:all 0.50s ease;transition:font-size 0.50s ease} 
.wifeo_sousmenu a:hover{background:#525252;font-size:15px;border-right:7px solid #525252} 
.wifeo_rubrique:hover .wifeo_sousmenu{visibility:visible;opacity:1;max-height:15em;display:table}