img.superbg {
    position:fixed;
    top:0;
    left:0;
    z-index:-1;
}

form {
	color: #F1C84B;
 	font-family:arial, sans-serif;
	background-color: rgba(30, 45, 76, 0.9);
    margin: 0 auto;
    margin-top: 10%;
    width: 160px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}

.center {
	text-align: center;
	font-family: arial, sans-serif;
	color: #F1C84B;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}

.myButton {
	-moz-box-shadow: 0px 0px 0px 1px white;
	-webkit-box-shadow: 0px 0px 0px 1px white;
	box-shadow: 0px 0px 0px 1px white;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1e2d4c), color-stop(1, #191970));
	background:-moz-linear-gradient(top, #1e2d4c 100%, #191970 100%);
	background:-webkit-linear-gradient(top, #1e2d4c 100%, #191970 100%);
	background:-o-linear-gradient(top, #1e2d4c 100%, #191970 100%);
	background:-ms-linear-gradient(top, #1e2d4c 100%, #191970 100%);
	background:linear-gradient(to bottom, #1e2d4c 100%, #191970 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e2d4c', endColorstr='191970',GradientType=0);
	background-color:#1e2d4c;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #283763;
	display:inline-block;
	cursor:pointer;
	color:#F1C84B;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:9px 18px;
	text-decoration:none;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5a83b5), color-stop(1, #1e2d4c));
	background:-moz-linear-gradient(top, #5a83b5 5%, #1e2d4c 100%);
	background:-webkit-linear-gradient(top, #5a83b5 5%, #1e2d4c 100%);
	background:-o-linear-gradient(top, #5a83b5 5%, #1e2d4c 100%);
	background:-ms-linear-gradient(top, #5a83b5 5%, #1e2d4c 100%);
	background:linear-gradient(to bottom, #5a83b5 5%, #1e2d4c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5a83b5', endColorstr='#1e2d4c',GradientType=0);
	background-color:#5a83b5;
}
.myButton:active {
	position:relative;
	top:1px;
}