body {
	margin: 0px;
	background-color: #E3E3E3;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

h1, h2, h3, h4, h5 {
	margin: 0px;
}


/*.milieu {
	position: center;
}*/
/** HEADER MENU **/
.header-top {
	padding-top: 10px;
	width: 100%;
	background-color: #FFF;
	height: 120px;
	display: block;
}

.header-top > img {
	height: 100px;
	margin: 0 auto;
	display: block;
}

.header {
	display: block;
	width: 100%;
	background-color: #1E2D4C;
	color: #FFF;
	height: 40px;
}

.header .logo {
	width: 185px;
	float:left;
}

.header .logo > h1 {
	color: #F1C84B;
	text-transform: capitalize;
	margin: 8px 0;
	font-size: 21px;
}

.header .main-menu, .main-menu-right {
	display: inline-block;
	margin: 0;
}

.header .main-menu-right {
	float: right;
}

.header .main-menu li, .header .main-menu-right li {
	display: inline-block;
	padding: 10px 15px;
	position: relative;
}

.header .main-menu li a, .main-menu-right a {
	color: #FFF;
	text-decoration: none;
	display: block;
}

.header .main-menu li a.active, .main-menu-right li a.active {
	color: #F1C84B;
	/**text-decoration: underline;**/
}

.header .main-menu li a:hover, .main-menu-right li a:hover {
	color: #F1C84B;
	/**text-decoration: underline;**/
}

.header .main-menu-right {
	position: relative;
}
.header .main-menu-right li ul {
   	display: none;
	position: absolute;
	padding: 2px 5px;
	background-color: #1E2D4C;
	top: 2em;
	left: -4px;
	font-size: 14px;
	width: 120px;
	text-align: center;
	z-index: 1000;
}

.header .main-menu-right li:hover ul {
	display: block;
}


/** Content **/
#content {
	background-color: #FFF;
	min-height: 600px;
	color: #3a3a3a;
	display: block;
	padding: 15px;
}

#content h2 {
	color: #3a3a3a;
}

#content .left {
	float: left;
	display: inline-block;
	width: 700px;
}

#content .right {
	float: right;
	width: 400px;
	margin-left: 40px;
}

/** Link **/

#content .read-more {
	margin-top: 10px;
	float: right;
	color: #ff9c23;
	text-decoration: none;
}

#content .read-more:hover {
	text-decoration: underline;
}

#content .read-more:after {
	content: ' \21FE';
}

/* Table */
#content table {
	margin-top: 20px;
}

#content table thead tr {
    display: table-row;
    color: #7f7b7b;
}

#content table thead tr th {
	text-align: left;
	border-bottom: 2px solid #ccc;
}

#content table tbody tr:nth-of-type(odd) {
	background-color: #f2f2f2;
}

.wrapper
{
	width: 450px;
	margin: 0 auto;
	padding: 0 10px;
	padding-top: 15px;

}

footer
{
	height: 200px;
	background-color: #1E2D4C;
	color: white;
	display: block;
}

footer h1
{
	color: #F1C84B;
	text-align: center;
}
footer p
{
	text-align: center;
	display: inline-block;
}

#mention
{
	text-align: center;
}

#lycee
{
	text-align: center;
	padding: 15px 80px;
}
footer img
{
	float: left;
	position: center
}
#lycee2
{
	margin-top: 25px;
}

/*stage*/

#stage h1
{
	padding: 20px 40px;
	font-size: 40px;

}

#stage h2
{
	padding: 20px 40px;
}

#stage .liste-classe
{
	padding: 20px 40px;

}
